@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

/* BIG SCREEN  */
@media screen and (min-width: 801px) {

/* general styling */
* {box-sizing: border-box;}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px}

a {text-decoration: none;}

.main_page {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr 2fr;}

.background_main {
  background-image: url("mainbackground.jpg");
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;}

#intro {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  padding-bottom: 230px;
  color: white;
  text-align:center;
  font-size: 18px;}

#intro img {
  height: 100%;
  width: 400px;
  margin: auto;
}

.header  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;}

.header div a {
  color: white;}

.header a:hover {
  color: #e3e0cc;}

#bicon {display:none}
#new_menu {display:none}
#bicon_landscape {display:none}
#new_menu_landscape {display:none}


#Landscapes {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  text-align: center;
  display: block;}

#About {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: auto;
  text-align: center;
  display: block;}


.footer  {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  margin-bottom: +15px;
  color:grey;
  font-size: 10px}


/* Landscapes page */

.main_page_landscapes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 50fr 2fr;}

.header_landscapes  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 0.7fr 2fr 10fr 1.3fr 1.3fr 0.7fr;
  grid-template-rows: 1fr;
  background-color: #f0f0f0;}

.sticky {
  position: fixed;
  width: 100%;
  height: 70px;
  top:0; left:0;
  z-index: 1}

.header_landscapes a {
    color: #878f99;}

.header_landscapes a:hover {
    color: #3e4444;}

#DiFo_Landscape  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("adflogo3b.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat }

#Gallery_landscape {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:4;
  grid-column-end: 5;
  margin: auto;
  text-align: center;}


#About_landscape {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:5;
  grid-column-end: 6;
  margin: auto;
  text-align: center;}

.pictures {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;

  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto ;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;}

.pictures div {
  height: 250px;
  width: 250px;
  background-position: center;
  background-size:cover;}

.pictures div:hover {
  opacity: 0.8;}

#img01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("alpssunset.jpg");
  background-position: left bottom;}

#img02 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("lacblanc.jpg");}

#img03 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("matt.jpg");}

#img04 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("mareghiaccio.jpg");}

#img05 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("saleve.jpg");}

#img06 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("alps2.jpg");
  background-position: right}

#img07 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("torres.jpg");
  background-position: top}

#img08 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("patagonia.jpg");}

#img09 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("alps.jpg");
  background-position: right}

#img10 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("alps3.jpg");
  background-position: 80% 60%}

#img11 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("alps rose.jpg");
  background-position: bottom}

#img12 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("geneve2.jpg");
  background-position: 80% 20%}

#img13 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("aguille.jpg");
  background-position: left}

#img14 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("chamonix.jpg");}

#img15 {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("geneve.jpg");
  background-position: right}

#img16 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("mb.jpg");}

#img17 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("bolivia2.jpg");}

#img18 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("matt2.jpg");
  background-position: bottom}

#img19 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("cliff.jpg");
  background-position: right}

#img20 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("ireland.jpg");
  background-position: left}

#img21 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("iceland4.jpg");}

#img22 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("bolivia.jpg");}

#img23 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("ireland2.jpg");}

#img24 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("lavanda.jpg");}

#img25 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("colle.jpg");}

#img26 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("matchu.jpg");}

#img27 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("bolivia4.jpg");}

#img28 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("molo.jpg");}

#img29 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("bird.jpg");
  background-position: 20% 20%}

#img30 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("saltdesert.jpg");
  background-position: right}

#img31 {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("bolivia5.jpg");
  background-position: left }

#img32 {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("caroso.jpg");}

#img33 {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("snow.jpg");}

#img34 {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("bolivia3.jpg");
  background-position: right}

#img35 {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("saleve2.jpg");
  background-position: right}

#img36 {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("iceland.jpg"); }

#img37 {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("ireland3.jpg");
  background-position: left}

#img38 {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 3;
  grid-column-end: 4;
  background-image: url("iceland2.jpg");}

#img39 {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 4;
  grid-column-end: 5;
  background-image: url("forest.jpg");}

.footer_landscapes  {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  color: black;
  margin: auto;}

/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;}

#myModal {grid-area:myModal;}
#x {grid-area:x;}
#sleft {grid-area:sleft;}
#sright {grid-area:sright;}
#caption1 {grid-area:caption1;}

#caption1 {
  margin: auto;
  color:  #b3b3b3;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;}

#Mimg01 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: none;  }

#x {
 cursor: pointer;
 text-align: center;
 background-position: center;
 color: #ccc;
 font-size: 35px;
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 1;
 grid-row-end: 2;
 margin: auto;}

#sright {
  cursor: pointer;
  text-align: center;
  background-position: center;
  color: #ccc;
  font-size: 23px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;}

#sleft {
 cursor: pointer;
 text-align: center;
 background-position: center;
 font-size: 23px;
 color: #ccc;
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 3;
 margin: auto;}


@-webkit-keyframes zoom {
 from {-webkit-transform:scale(0)}
 to {-webkit-transform:scale(1)}}

@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)} }


/* --- about page ---  */

.main_page_about {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 1fr 70px;}

.header_about  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1fr;
  background-color: #f0f0f0;}

.header_about_container  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f0f0f0;}

#adf-pic {
  width: 540px;
  height: 100%;
  border-radius: 50%;
  margin-top: 3%;}

.header_about a {
  color: #878f99;}

.header_about a:hover {
  color: #3e4444;}

.title_about {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  margin: auto;
  margin-left: 20%;
  margin-right:20%;
  color: black;}

.title_about a {
    color: #1abc9c; }

.footer_about  {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: bottom;
  color: black;
  margin: auto;}

#Copyright_la {
  font-size: 10px;}}


  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
  /* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */
/* small screen */


/* small screen */
@media screen and (max-width: 800px) {

/* general styling */
* {box-sizing: border-box;}
html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px}

a {text-decoration: none;}

.main_page {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 10fr 2fr;}

.background_main {
  background-image: url("mainbackground.jpg");
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;}

#intro {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  padding-bottom: 200px;
  color: white;
  text-align:center;}

@media screen and (orientation:portrait) {
  #intro img {
    height: 100%;
    width: 70%;
    margin: auto;}}

@media screen and (orientation:landscape) {
    #intro img {
      height: 100%;
      width: 40%;
      margin: auto;}}

.header  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 10fr 1fr 1fr;
  grid-template-rows: 1fr;}

.header div a {
  color: white;}

.header a:hover {
  color: #e3e0cc;}

#bicon {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  margin: auto;
  text-align: center;}

#new_menu {
  display:none;
  width: 70px;
  height:95px;
  position: absolute;
  right: 15px;
  top: 70px;
  background-color: #2f2f2f;
  opacity: 70%;}

#new_menu a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 10px;
  display: block;}

#Home_nm {margin-left: 11px;}
#Landscapes_nm {margin-left: 5px;}
#About_nm {margin-left: 10px;}

#Landscapes {display: none;}
#About {display: none;}

.footer  {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  margin: auto;
  margin-bottom: +15px;
  color:grey;
  font-size: 10px}

#Copyright {
  text-align: center;
  font-size: 8px;
  margin-left: 5px;
  margin-right: 5px;}

/* Landscapes page */

.main_page_landscapes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 6500px 45px}

.header_landscapes  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: 1fr 3fr 10fr 1fr 1fr;
  grid-template-rows: 1fr;
  background-color: #f0f0f0;}

.sticky {
  position: fixed;
  width: 100%;
  height: 45px;
  top:0; left:0;
  z-index: 1}

.header_landscapes a {
    color: #878f99;}

#DiFo_Landscape  {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  background-image: url("adflogo3b.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat }

#bicon_landscape {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  margin: auto;
  text-align: center;}

#new_menu_landscape {
  display:none;
  width: 70px;
  height:95px;
  position: fixed;
  right: 15px;
  top: 45px;
  background-color: #2f2f2f;
  opacity: 80%;
  z-index: 1}

#new_menu_landscape a {
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 10px;
  display: block;}

#Gallery_landscape {display: none;}
#About_landscape {display: none;}

.pictures {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 15px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (39, 1fr);
  grid-gap: 3px}

.pictures div {
  max-width: 100em;
  width: 100%;
  /* height: 100%; */
  background-position: center;
  background-size:contain;
  background-repeat: no-repeat;}

#img01 {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("alpssunset.jpg");}

#img02 {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("lacblanc.jpg");}

#img03 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("matt.jpg");}

#img04 {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("mareghiaccio.jpg");}

#img06 {
  grid-row-start: 5;
  grid-row-end:6;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("alps2.jpg");}

#img23 {
  grid-row-start: 6;
  grid-row-end: 7;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("ireland2.jpg");}

#img11 {
  grid-row-start: 7;
  grid-row-end: 8;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("alps rose.jpg");}

#img13 {
  grid-row-start: 8;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("aguille.jpg");}

#img14 {
  grid-row-start: 9;
  grid-row-end: 10;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("chamonix.jpg");}

#img19 {
  grid-row-start: 10;
  grid-row-end: 11;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("cliff.jpg");}

#img20 {
  grid-row-start: 11;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("ireland.jpg");}

#img21 {
  grid-row-start: 12;
  grid-row-end: 13;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("iceland4.jpg");}

#img25 {
  grid-row-start: 13;
  grid-row-end: 14;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("colle.jpg");}

#img26 {
  grid-row-start: 14;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("matchu.jpg");}

#img24 {
  grid-row-start: 15;
  grid-row-end: 16;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("lavanda.jpg");}

#img27 {
  grid-row-start: 16;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("bolivia4.jpg");}

#img38 {
  grid-row-start: 17;
  grid-row-end: 18;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("iceland2.jpg");}

#img39 {
  grid-row-start: 18;
  grid-row-end: 19;
  grid-column-start: 1;
  grid-column-end:2;
    background-image: url("forest.jpg");}

#img36 {
  grid-row-start: 19;
  grid-row-end: 20;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("iceland.jpg"); }

#img35 {
  grid-row-start: 20;
  grid-row-end: 21;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("saleve2.jpg");}

#img30 {
  grid-row-start: 21;
  grid-row-end: 22;
  grid-column-start: 1;
  grid-column-end:2;
    background-image: url("saltdesert.jpg");}

#img08 {
  grid-row-start: 22;
  grid-row-end: 23;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("patagonia.jpg");}

#img16 {
  grid-row-start: 23;
  grid-row-end: 24;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("mb.jpg");}

#img34 {
  grid-row-start: 24;
  grid-row-end: 25;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("bolivia3.jpg");}

#img31 {
  grid-row-start: 25;
  grid-row-end: 26;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("bolivia5.jpg");}

#img33 {
  grid-row-start: 26;
  grid-row-end: 27;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("snow.jpg");}

#img09 {
  grid-row-start: 27;
  grid-row-end: 28;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("alps.jpg");}

#img15 {
  grid-row-start: 28;
  grid-row-end: 29;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("geneve.jpg");}

#img32 {
  grid-row-start: 29;
  grid-row-end: 30;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("caroso.jpg");}

#img29 {
  grid-row-start: 30;
  grid-row-end: 31;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("bird.jpg");}

#img28 {
  grid-row-start: 31;
  grid-row-end: 32;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("molo.jpg");}

#img05 {
  grid-row-start: 32;
  grid-row-end: 33;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("saleve.jpg");}

#img10 {
  grid-row-start: 33;
  grid-row-end: 34;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("alps3.jpg");}

#img37 {
  grid-row-start: 34;
  grid-row-end: 35;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("ireland3.jpg");}

#img12 {
  grid-row-start: 35;
  grid-row-end: 36;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("geneve2.jpg");}

#img22 {
  grid-row-start: 36;
  grid-row-end: 37;
  grid-column-start: 1;
  grid-column-end:2;
  background-image: url("bolivia.jpg");}

#img17 {
  grid-row-start: 37;
  grid-row-end: 38;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("bolivia2.jpg");}

#img07 {
  grid-row-start: 38;
  grid-row-end: 39;
  grid-column-start: 1;
  grid-column-end:2;
background-image: url("torres.jpg");}

#img18 {
  grid-row-start: 39;
  grid-row-end: 40;
  grid-column-start: 1;
  grid-column-end:2;
    background-image: url("matt2.jpg");}

.footer_landscapes  {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  color: black;
  margin: auto;}

#Copyright_la {
    font-size: 8px;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px}


/* modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%;
  height: 100vh;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;}

#myModal {grid-area:myModal;}
#x {grid-area:x;}
#sleft {grid-area:sleft;}
#sright {grid-area:sright;}
#caption1 {grid-area:caption1;}

#caption1 {
  margin: auto;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  color:  #b3b3b3;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;}

#Mimg01 {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: none;  }

#x {
 cursor: pointer;
 text-align: center;
 background-position: center;
 color: #ccc;
 font-size: 35px;
 grid-column-start: 3;
 grid-column-end: 4;
 grid-row-start: 1;
 grid-row-end: 2;
 margin: auto;}

#sright {
  cursor: pointer;
  text-align: center;
  background-position: center;
  color: #ccc;
  font-size: 23px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  margin: auto;}

#sleft {
 cursor: pointer;
 text-align: center;
 background-position: center;
 font-size: 23px;
 color: #ccc;
 grid-column-start: 1;
 grid-column-end: 2;
 grid-row-start: 2;
 grid-row-end: 3;
 margin: auto;}


@-webkit-keyframes zoom {
 from {-webkit-transform:scale(0)}
 to {-webkit-transform:scale(1)}}

@keyframes zoom {
 from {transform:scale(0)}
 to {transform:scale(1)} }


/* --- about page ---  */

.main_page_about {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 45px 1fr 1fr;}

#adf-pic {
  width: 200px;
  margin: auto;
  border-radius: 50%;
  margin-top: 5%;}

.title_about a {
  color: #1abc9c;
}

.title_about {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  margin: auto;
  max-width: 100%;
  margin-left: 20%;
  margin-right:20%;
  color: black;}

}
